{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Car</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_car') }}">
            <!-- category selection -->
			<div class="row">
				<div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Car Category</label>
				</div>
			</div>
            <!-- Car Model -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="car_model" name="car_model" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="car_model">Car Model</label>
                </div>
            </div>

             <!-- Car Year -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="car_year" name="car_year" type="text" class="datepicker validate" required>
                    <label for="car_year">Car Year</label>
                </div>
            </div>

            <!-- Car Colour -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="car_colour" name="car_colour" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="car_colour">Car Colour</label>
                </div>
            </div>
           
        
 <!-- Car Condition -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea id="car_condition" name="car_condition" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="car_condition">Car Condition</label>
                </div>
            </div>
 <!-- Engine Size -->
           <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="engine_size" name="engine_size" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="engine_size">Engine Size</label>
                </div>
            </div>

            <!-- is urgent toggle -->
			<div class="row">
				<div class="input-field col s12">
					<div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
						<label for="is_urgent">
                            <input type="checkbox" id="is_urgent" name="is_urgent">
                            <span class="lever"></span>
                            Is Urgent
                        </label>
					</div>
				</div>
            </div>
             <!-- date picker -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="post_date" name="post_date" type="text" class="datepicker validate" required>
                    <label for="post_date">Date</label>
                </div>
            </div>
            <!-- submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                        Add Car <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}