{% extends "base.html" %}
{% block content %}


<section class="home" id="home">
    <video src="/static/img/z.mp4" loop muted autoplay></video>
    <div class="overlay"></div>
</section>


<div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Man must explore, and this is exploration at its greatest
                </h2>
                <h3 class="post-subtitle">
                    Problems look mighty small at 150mph
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">jon b</a>
                on September 24, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Hey, if you have a Z4 check in and say hi! And what car do you drive?, Welcome to the site, and if
                    you have any suggestions for the site, pleas feel free to chime in!
                </h2>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Sarah</a>
                on September 18, 2019</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Science has not yet mastered prophecy
                     </h2>
                <h3 class="post-subtitle">
                    we have car-twins... Only Im number 268 and I bought it in October (i just turned 1600 miles...)
                </h3>
                     </a>
            <p class="post-meta">Posted by
                <a href="#">Lar</a>
                on August 24, 2019</p>
        </div>
             <hr>
        <div class="post-preview">
            <a href="#">
                <h2 class="post-title">
                    Failure is not an option
                </h2>
                <h3 class="post-subtitle">
                    Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                </h3>
            </a>
            <p class="post-meta">Posted by
                <a href="#">Jeff</a>
                on July 8, 2019</p>
        </div>
        <hr>
        <!-- Pager -->
        <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
    </div>
</div>
{% endblock %}